.unlock-container{
    width: 100%;
}
.unlock-container .top{
    width: 100%;
    text-align: center;
}
.unlock-container .top h1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #000;
    font-size: 2rem;
}
.unlock-container .top p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #666;
    line-height: 1.5;
}
.cardContent{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem; 
    width: 100%;
    min-width: 40rem;
    max-width: 70rem; 
    margin: 1rem auto; 
    text-align: center;
}
.referral-section{
    margin-top: 3rem;
}
.referral-section p{
    font-family: sans-serif;
    font-size: 1.3rem;
}