/* .chart {
  width: "60%";
  margin: "0 auto";
} */
.chart{
  width: 100%;
  height: 100vh;
  /* margin-top: 3rem; */
  margin: 0rem auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:640px){
  .chart{
    width: 80%;
    height: 50vh;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
}