.container {
  width: 100%;
}
.container .top {
  text-align: center;
  padding: 2rem;
}
.container .top h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  color: #007bff;
}
.container .top h4 {
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  /* color: #007bff; */
}
.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
    padding: 1rem;
    background-color: #007bff;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 1rem;
}
